#titulo{
    margin: 20px;
    height: 50px;
    color:rgb(25, 0, 255);
    font-family: 'Erica one', cursive;
    font-size: 25px;
    text-align: center;
    text-shadow: 
               0 1px 0 white,
               0 2px 0 white,
               0 3px 0 white,
               0 4px 0 white,
               0 5px 0 white,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px rgb(238, 238, 237);
}

#textoResultado{
    margin: 20px;
    height: 50px;
    color:rgb(25, 12, 109);
    font-family: 'Erica one', cursive;
    font-size: 25px;
    text-align: center;

}

body {
    background: rgb(204, 233, 233)
}

body {
    text-align: center;
}
